div.get-some-perspective-score
{
    position: absolute;
    font-size: 12pt;
    color: white;
    z-index: 1000000000;
    margin-left: 4px;
    padding: 2px;
    border-radius: 4px;
}

.get-some-perspective-fade-out
{
    animation: get-some-perspective-fade-out 3s 2s;
}

@keyframes get-some-perspective-fade-out
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}